/*Color Codes:
grey: #58585B, rgb(88,88,91)
yellow: #FFCE00, rgb(255,206,0)
blue: #005595, rgb(0,85,149)
*/
:root {
  --blue: #005595;
  --yellow: #ffce00;
  --grey: #58585b;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid #58585b;
  --box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
  outline: none;
}
body{
	backgroung-image: url(book-architecture-interior-building-old-reading-144835-pxhere.com.jpg);
	background-size: cover;
	background-position: center;
}
html {
  font-size: 20px;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}


html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Header section */

.header .main-heading {
  background: white;
  padding: 30px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .main-heading .main-logo {
  font-size: 30px;
  font-weight: bolder;
  color: var(--yellow);
}

.header .main-heading .main-logo i {
  color: var(--blue);
}

.header .main-heading .search-form {
  width: 750px;
  height: 60px;
  border: var(--border);
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.header .main-heading .search-form input {
  font-size: 20px;
  padding: 0 18px;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--grey);
}

.header .main-heading .search-form label {
  font-size: 30px;
  padding-right: 20px;
  color: var(--grey);
  cursor: pointer;
}

.header .main-heading .search-form label:hover {
  color: var(--blue);
  transform: scale(1.1);
}

.header .main-heading .icons div,
.header .main-heading .icons a {
  font-size: 30px;
  margin-left: 20px;
  color: var(--grey);
  cursor: pointer;
}

.header .main-heading .icons div:hover,
.header .main-heading .icons a:hover {
  color: var(--blue);
  transform: scale(1.1);
}

#search-button {
  display: none;
}

.header .second-header {
  background: var(--blue);
}

.header .second-header .nav-bar {
  text-align: center;
}

.header .second-header .nav-bar a {
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 25px;
}

.header .second-header.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .second-header .nav-bar a:hover {
  background: var(--grey);
}

/* bottom navigation bar */

.bottom-nav-bar {
  text-align: center;
  background: var(--blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.bottom-nav-bar a {
  font-size: 35px;
  padding: 15px;
  color: white;
}

.bottom-nav-bar a:hover {
  transform: scale(1.1);
  /* color: var(--grey); */
}

/* log-in section */

/*login form class*/
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
}
/*login form action class*/
.login-form form {
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  margin: 2rem;
}
/*login form header 3*/
.login-form form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}
/*login form span*/
.login-form form span {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
}
/*login form .box class*/
.login-form form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
}
/*login form .checkbox class*/
.login-form form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
/*login form .checkbox label class*/
.login-form form .checkbox label {
  font-size: 1.5rem;
  color: var(--grey);
  cursor: pointer;
}
/*button class*/
.login-form form .checkbox .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}
/*paragaph class*/
.login-form form p {
  padding-top: 0.8rem;
  color: var(--grey);
  font-size: 1.5rem;
}
/*href class */
.login-form form p a {
  color: var(--blue);
  text-decoration: underline;
}
/*sign in button class*/
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--blue);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover {
  background: var(--dark-color);
}

/* icons section */

.icon-bin {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.icon-bin .icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

.icon-bin .icon i {
  font-size: 3.5rem;
  color: var(--blue);
}

.icon-bin .icon h3 {
  font-size: 2.2rem;
  color: var(--grey);
  padding-bottom: 0.5rem;
}

.icon-bin .icon p {
  font-size: 1.4rem;
  color: var(--grey);
}

/*Display Menubar*/
.menubar{
	background-color: #005595;
	text-align: center;
}

/*Menu ul*/
.menubar ul{
	display: inline-flex;
	list-style: none;
	color: #005595
}

/*Menubar settings*/
.menubar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
	font-size: 18px;

}

/*Display menu color and text*/
.menubar ul li a{
	text-decoration: none;
	color: white;
}

/*Display Active Menu item*/
.active, .menubar ul li:hover{
	background-color: #FFCE00;
	border-radius: 3px;
}

/*Submenu*/
.subMenu{
	display: none;
}
/*Display Submenu*/
.menubar ul li:hover .subMenu{
	display: block;
	position: absolute;
	background: #FFCE00;
	margin-top: 15px;
	margin-left: -15px;
	text-align: center;
}
/*Align Submenu*/
.menubar ul li:hover .subMenu ul{
	display: block;
	margin: 10px;

}
/*Newsletter section*/
.newsletter {
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.newsletter form {
	text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 2.2rem;
  color: var(--blue);
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

/* more info will be added to the newsletter section once the home
 section is updated */

/*Review Section styling start*/
/* heading formating */
.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: var(--yellow);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--blue);
  background: white;
  border: var(--border);
}

/* review section */
.reviews .reviews-slider .box {
  width: 30rem;
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
  border: var(--border-hover);
  border-style: solid;
  border-color: #FFCE00;
}

.reviews .reviews-slider .box img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: #005595;
  font-size: 26px;
  padding: 2px;
}

.reviews .reviews-slider .box p {
  color: #58585B;
  font-size: 16px;
  padding: 4px;
  line-height: 2;
}

.reviews .reviews-slider .box .stars {
  padding-top: 2px;
}

.reviews .reviews-slider .box .stars i {
  font-size: 12px;
  color: #58585B;
}

/*Review Section styling end*/

/*Team Section Start*/

.team .team-slider{
	align-items: center;
	text-align: center;
}
.team .team-slider .box {
  width: 30rem;
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.team .team-slider .box:hover {
  border: var(--border-hover);
  border-style: solid;
  border-color: #FFCE00;
}
/*Team Section End*/
