@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .main-heading {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  .header .second-header {
    display: none;
  }

  .bottom-nav-bar {
    display: block;
  }

  #search-button {
    display: inline-block;
  }

  .header .main-heading {
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .header .main-heading .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  .header .main-heading .search-form.active {
    top: 115%;
  }

  /* .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  } */

  .newsletter {
    background-position: right;
  }

  .newsletter form {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
